.jumbotron{
    color: white;
    background-image: url(images/assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size:110% ;
    height:100% ;
}
.header{
    text-align: center;
    text-transform: uppercase;
    margin-top:10% ;
}
.image2{
    margin-top:15% ;
    text-align: center;
    animation:bounce(3sec);
 }
 .about{
     justify-content: center;
     text-align: center;
 }
 .services{
     background-image: url(images/assets/backgrounds/s_image.jpg);
     background-repeat: no-repeat;
     background-size:auto ;
     justify-content: center;
     text-align: center;
     color: white;
     height:300px;
 }
 .design{
     justify-content:center ;
     text-align: center;
 }
.portfolio{
    justify-content:center;
    text-align:center ;
    

} 
body{
    overflow-x: hidden;
}
.image{
    width: 100%;
   margin-top: 18px;
   margin-bottom:15px ;
}
.contact{
background-image: url(images/assets/backgrounds/c_image.jpg);
background-repeat: no-repeat;
background-size:130% ;
text-align: center;
justify-content: center;
height:500px ;
}
.message{
    background:transparent ;
    margin:18px ;
}
.text{
    margin-left:1% ;
    width:35% ;
    background:transparent ;
}
.email{
    margin-right:1% ;
    width:35% ;
    background: transparent;
}
.head{
    justify-content: center;
    text-align: center;
    padding:20px ; 
    /* margin:15px ; */
}